<div class="container">
  <h2 style="color: red">ListR</h2>
  {{#each model as |list|}}
    <!--left list = name in template file  -->
    <!--right list = name in containing each clause  -->
    <!--naming data being passed to the component  -->
    {{listr-list list=list}}
  {{/each}}
</div>
